@using ApplicationCore.Enities
@model IReadOnlyCollection<Order>

@{
    ViewBag.Title = "Главная";
    Layout = "_Layout";
}

<div class="order-action">
    <a asp-action="Create" asp-controller="Order">Создать новый заказ</a>
</div>

<div class="order-table">
    <div class="order-headers">
        <div class="order-number-header">Номер заказа</div>
        <div class="order-date-header">Дата</div>
        <div class="order-provider-header">Поставщик</div>
    </div>
    <div class="order-content-container">
        @if (!Model.Any())
        {
            <div class="order-content">
                <div class="order-number-content"></div>
                <div class="order-date-content"></div>
                <div class="order-provider-content"></div>
            </div>
        }
        @foreach (Order order in Model)
        {
            <div class="order-content" id=@order.Id>
                <div class="order-number-content">@order.Number</div>
                <div class="order-date-content">@order.Date</div>
                <div class="order-provider-content">@order.Provider</div>
            </div>
        }
    </div>

</div>

@section Scripts {
    <script type="text/javascript">
    $(function () {
         
        $('.order-content').click(function () {
            let id = $(this).attr('id');
             let url = '@Url.Action("Index", "Order")' + '?id=' + id;
              window.location.href = url;
                 });
         });
    </script>
}