﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.order-table {
    display: grid;
}

.order-table .order-headers, .order-table .order-content-container {
    display: grid;
    grid-template-columns: 40px 100px 40px;
}

