@model OrderViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@using (Html.BeginForm())
{
    @Html.Partial("PartialPages/Order/Create/_OrderPage", Model)

    <div class="order-content-field">
        <div id="order-order_items-content" class="order-order_items-content">
            @foreach (var orderItem in Model.OrderItems)
            {
                @Html.Partial("PartialPages/Order/Create/_OrderItemsPage", orderItem)
            }
        </div>
        @Html.ActionLink("Добавить товар", "Create", "OrderItem", null, new {id = "addOrderItem", @class = "button"})

    </div>

    <button type="submit">Создать заказ</button>
}


@section Scripts {
    <script type="text/javascript">
    $(function () {
         $.ajax({
                        url: '@Url.Action("Create", "OrderItem")',
                            cache: false,
                            success: function (html) {
                                $("#order-order_items-content").append(html);
                                }
                        });
        
        $('#addOrderItem').on('click', function () {
            $.ajax({
                url: '@Url.Action("Create", "OrderItem")',
                    cache: false,
                    success: function (html) {
                        $("#order-order_items-content").append(html);
                        }
                });
                return false;
            });
       return false;
    });


</script>
}