@model OrderViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@Html.Partial("PartialPages/Order/Index/_OrderPage", Model)
<div class="order-content-field">
    <div id="order-order_items-content" class="order-order_items-content">
        @foreach (var orderItem in Model.OrderItems)
        {
            @Html.Partial("PartialPages/Order/Index/_OrderItemsPage", orderItem)
        }
    </div>
</div>