@using HtmlHelpers.BeginCollectionItemCore
@model OrderItemViewModel


<div class="order_item-content">
    @using (Html.BeginCollectionItem("OrderItems"))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.OrderId)
        <div class="order_item-content-field">
            @Html.LabelFor(model => model.Name, "Наименование товара")
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div class="order_item-content-field">
            @Html.LabelFor(model => model.Quantity, "Цена")
            @Html.TextBoxFor(m => m.Quantity)
        </div>
        <div class="order_item-content-field">
            @Html.LabelFor(model => model.Unit, "Количество")
            @Html.TextBoxFor(m => m.Unit)
        </div>
    }
</div>