@model OrderViewModel

<div class="order-content-field">
    @Html.HiddenFor(m => m.Id)
    @Html.TextBoxFor(model => model.Number, "Номер")
    @Html.TextBoxFor(model => model.Number)
</div>
<div class="order-content-field">
    @Html.LabelFor(model => model.Date, "Дата")
    @Html.TextBoxFor(model => model.Date)

</div>
<div class="order-content-field">
    @Html.LabelFor(model => model.Provider, "Поставщик")
    @Html.TextBoxFor(m => m.Provider.Name)
</div>