@model OrderViewModel

@Html.HiddenFor(m => m.Id)

<div class="order-content-field">
    @Html.LabelFor(model => model.Number, "Номер")
    @Html.EditorFor(model => model.Number, new {htmlAttributes = new {placeholder = "Введите номер заказа"}})
</div>
<div class="order-content-field">
    @Html.LabelFor(model => model.Date, "Дата")
    @Html.EditorFor(model => model.Date)

</div>
<div class="order-content-field">
    @Html.LabelFor(model => model.Provider, "Поставщик")
    @Html.DropDownListFor(m => m.ProviderId, Model.Providers)
</div>